#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

form input{
  display: block;
  margin: 1em auto;
  padding:0.5em;
  width: 50%;
}

label, p~input, label~input{
  display: inline;
  width: 15%
}

button{
  display: block;
  margin: 0 auto;
}

/* THE WHEEL */
ul{
  list-style-type: none;
}

li{
  background-color: #dedede;
  color: #242424;
  margin: 1em auto;
  padding: 1em;
}

li button{
  margin: 1em auto 0 auto;
}

small{
  color: #666;
  margin-left: 10px;
}

[title="Include"]{
  background-color: gray;
}

[title="Exclude"]{
  background-color: orange;
}

label~select{
  padding: 0.5em;
  margin:1em 0.5em;
}

.wheeler{
  width: 30em;
  height: 30em;
  border: 5px solid black;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  background-color: #f0f0f0;
  color: #666;
}

#winner{
  background-color: red;
  padding: 1em;
  border-radius: 5px;
  width: 50%;
  justify-self: center;
  margin-top:2em;
}

section:first-of-type{
  margin-top:1em;
}

#pointer{
  position: relative;
  display: inline-block;
}

svg{
  width:300px;
  height: 300px;
  border: 5px solid black;
  border-radius: 50%
}