@import './styles/colors.css';

*,
*::before,
*::after{
    box-sizing: border-box;
}

html, body{
    height: 100%;
    background-color: var(--background);
    color: var(--text);
    line-height: 1.6;

}

img{
    max-width: 100%;
    display: block;
}

button{
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: var(--accent-pistachio);
    border: 2px solid transparent;
    padding: 0.6em 1.2em;
    cursor: pointer;
    transition: border-color 0.25s;
}

button:hover {
    border-color: var(--accent-beige);
}

a {
    font-weight: 500;
    color: var(--text-muted);
    text-decoration: inherit;
}
a:hover {
    color: var(--accent-pistachio);
}

h1 {
    font-size: 2.5em;
    line-height: 1.1;
}
h2{
    font-size: 1.5em;
}
