*{
    margin: 0;
    padding: 0;
}

.header{
    align-items: center;
    padding: 1rem;
    position: relative;
    border-color: black;
    border-style: solid;
}

.logoImg{
    width: auto;
    height: 8rem;
}

.menuBtn{
    cursor: pointer;
    display: none;
    background: none;
    border: none;
}

.menuBtn:hover{
    background-color: #f0f0f0;
}

.show{
    right: 0;
}

.navbar{
    display: flex;
    justify-content: flex-start;
    background-color: white;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    align-items: center;
}
nav li{
    height: 50px;
}
nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
}

nav a:hover{
    background-color: #f0f0f0;
}

.sidebar{
    position: fixed;
    top: 0;
    right: -250px;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.13);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    backdrop-filter: blur(10px);
    transition: right 0.3s ease-in-out;
}
.sidebar li{
    width: 100%;
}

.sidebar a{
    width: 100%;
}


@media (max-width: 1024px) {
    .navmain{
        display: none;
    }
    .menuBtn{
        display: block;
        margin-left: auto;
        margin-right: 1rem;
    }
    .navbar{
        gap: 1rem;
    }
    .header{
        display: flex;
    }
}
