.foodwheel ul{
    list-style-type: none;
}

.foodwheel li{
    background-color: #dedede;
    color: #242424;
    margin: 1em auto;
    padding: 0.2em;
}

.foodwheel li button{
    margin: 1em auto 0 auto;
}

.foodwheel small{
    color: #666;
    margin-left: 10px;
}

[title="Include"]{
    background-color: gray;
}

[title="Exclude"]{
    background-color: orange;
}

.foodwheel label~select{
    padding: 0.5em;
    margin:1em 0.5em;
}

.foodwheel section:first-of-type{
    margin-top:1em;
}

.foodwheel {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.pointer{
    position: relative;
    display: inline-block;
}

.foodwheel svg{
    width:300px;
    height: 300px;
    border: 5px solid black;
    border-radius: 50%
}

.foodwheel select {
    width: 50%;
    padding: 0.5em;
}

.winner{
    background-color: red;
    padding: 1em;
    border-radius: 5px;
    width: 50%;
    justify-self: center;
    margin-top:2em;
}

.wheeler{
    width: 30em;
    height: 30em;
    border: 5px solid black;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    background-color: #f0f0f0;
    color: #666;
}